body
{
    background-image:url("a.jpg");
    background-repeat:no-repeat;
    background-size:100% 90%;
}
h2
{
    background-image:url("aa.jpg");
    background-repeat:no-repeat;
    background-size:100% 30%;
}
h4
{
    background-image:url("my.jpg");
    background-repeat:no-repeat;
    background-size:100% 30%;   
}