body
{
    background-image:url("AsifShaikS01/COLLEGE-WEB/a.jpg");
    background-repeat:no-repeat;
    background-size:100% 90%;
}
h2
{
    background-image:url("AsifShaikS01/COLLEGE-WEB/aa.jpg");
    background-repeat:no-repeat;
    background-size:100% 30%;
}
h4
{
    background-image:url("AsifShaikS01/COLLEGE-WEB/my.jpg");
    background-repeat:no-repeat;
    background-size:100% 30%;   
}